:root {
    --background-height: 100vh;
    --site-language-alignment: left;
    --site-language-direction: ltr;
    --site-language-flex-alignment: flex-start;
    --site-language-indent-left: 1;
    --site-language-indent-right: 0;
    --site-language-margin-left: 0;
    --site-language-margin-right: auto;
    --viewport-height: 100vh;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff7d7;
    margin: 0;
    padding: 0;
    width: 100%;
    /* display: flex; */
}

/* body:before {
    content: '';
    display: block;
    background-attachment: scroll;
    height: var(--background-height);
    left: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    transform: scale(1);
    width: 50vw;
    z-index: 0;
    background-image: linear-gradient(to top, rgba(234,252,210,0.2), rgba(234,252,210,0.2)), url('assets/images/bg.jpg?v=7ab511c7');
    background-position: 0% 0%, center;
    background-repeat: repeat, no-repeat;
    background-size: auto, cover;
    background-color: #FFFFFF;
} */

#wrapper {
    -webkit-overflow-scrolling: touch;
    align-items: center;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    /* min-height: var(--viewport-height); */
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    position: relative;
    z-index: 2;
    /* padding: 2rem 2rem 2rem 2rem; */
    padding: 2rem ;
}

#main {
    --alignment: center;
    --flex-alignment: center;
    --indent-left: 1;
    --indent-right: 1;
    --margin-left: auto;
    --margin-right: auto;
    --border-radius-tl: 1.5rem;
    --border-radius-tr: 1.5rem;
    --border-radius-br: 1.5rem;
    --border-radius-bl: 1.5rem;
    align-items: center;
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;
    max-width: 100%;
    position: relative;
    text-align: var(--alignment);
    z-index: 1;
    background-color: #f0c9ff;
    /* background-color: rgba(252,245,210,0.69); */
    border-radius: var(--border-radius-tl) var(--border-radius-tr) var(--border-radius-br) var(--border-radius-bl);
    /* transition: opacity 1s ease-in-out 0s; */
}

/* #main > .inner means that the FIRST .inner class within id=main elements will have the formatting
but if there is a nester .inner class element, it will not have the formating
AKA: > means only direct children/immediate nesting */
#main > .inner {
    --padding-horizontal: 3rem;
    --padding-vertical: 1.25rem;
    --spacing: 1.125rem;
    /* --width: 0rem; */
    border-radius: var(--border-radius-tl) var(--border-radius-tr) var(--border-radius-br) var(--border-radius-bl);
    max-width: 100%;
    position: relative;
    width: var(--width);
    z-index: 1;
    padding: var(--padding-vertical) var(--padding-horizontal);
}

#main > .inner > header {
    margin-bottom: var(--spacing);
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    display: flex;
    flex-direction: column; 
    align-items: center;  
    justify-content: center;
    width: 100%;
}

#gallery01 ul {
    gap: 4.25rem;
}

.gallery ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: var(--flex-alignment);
}

ul {
    list-style: none;
}

#gallery01 ul li .thumbnail {
    display: block;
    transition: none;
}

.gallery ul li .thumbnail {
    border-radius: inherit;
    position: relative;
}


#gallery01 ul li img {
    /* height: auto;
    max-height: 6rem;
    max-width: 6rem; */

    width: 100px;  /* Set the desired width */
    height: 100px; /* Set the desired height */
    object-fit: cover;  /* Ensures the aspect ratio is maintained without distortion */
    border-radius: 50%;  /* Make the image circular */
}

.gallery ul li img {
    /* margin: 0;
    max-width: 100%;
    width: auto; */
    
    vertical-align: top;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}

#gallery01 ul li .frame {
    border-radius: 0rem;
}

.gallery ul li .frame {
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
} 

/* Basic styles for the modal */
.modal {
    display: none; /*Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Black with opacity */
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

/* Modal content */
.modal-content {
    background-color: #fff;
    z-index: 50;
    padding: 20px;
    border-radius: 10px;
    max-width: 100%;
    max-height: 100%;
    width: 45%;
    height: 60%;
    position: relative;
    text-align: center;
}

/* Close button */
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
}
.close-btn:hover,
.close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Add smooth transition effect */
.modal.show {
    display: flex;
    opacity: 1;
    z-index: 30;
}


.id-card {
    background-color: white;
    border: 3px solid #f0c9ff;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 300px;
    margin-left: 15px;
    margin-right: 15px;
}

.id-card-left{
    background-color: white;
    border: 3px solid #f0c9ff;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 400px;
    margin-left: 15px;
    margin-right: 15px;
}
.id-card-wide{
    background-color: white;
    border: 3px solid #f0c9ff;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 600px;
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: 15px;
}

.id-card-left #text{
    text-align: left;
    /* width: 500px; */
    /* padding: 20px; */
    margin-left: 25px;
}

.id-card #text{
    text-align: left;
    /* width: 500px; */
    /* padding: 20px; */
    margin-left: 25px;
}

.centered-section{
    display: flex;
    justify-content: center;  /* vertical */
    align-items: top;   /* horizontal */
}

.centered-vertical-section{
    display: flex;
    flex-direction: column;
    /* justify-content: center;  */
    align-items: center;  
}

.id-card2 {
    background-color: white;
    border: 3px solid #f0c9ff;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    width: 800px;
}

.id-card img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}

.id-card h1 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #333;
}

.id-card p {
    font-size: 16px;
    color: #666;
}

.id-card a {
    background-color: #3498db;
    color: white;
    padding: 5px 20px;
    border-radius: 5px;
}

.id-card-left a {
    background-color: #3498db;
    color: white;
    padding: 5px 20px;
    border-radius: 5px;
}

.id-card a:hover {
    background-color: #2980b9;
}

.id-card-left a:hover {
    background-color: #2980b9;
}

.custom-container .a{
    margin: 10px;
    position: relative;
    display: inline-block;

}

#videoModal {
    position: fixed;
    /* you can add a blur if you create a popup background */
    /* filter: blur(20px); */
}

#videoIframe{
    width: 90%;
    height: 70%;
}

#openModalBtn{
    background-color: #3498db;
    color: white;
    padding: 5px 20px;
    border-radius: 5px;   
    /* border-color: white; */
}